<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.multidemo">

    <!--普通权限，无需手动申请-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--危险权限，需要手动申请-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--允许读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Android 10以下 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Android 11 ～ Android 12 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@mipmap/launcher_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".base.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity
            android:name=".view.SlideNavigationActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.RefreshAndLoadMoreActivity" />
        <activity android:name=".view.NewsDetailsActivity" />
        <activity android:name=".view.SlideBarActivity" />
        <activity android:name=".view.RecodeAudioActivity" />
        <activity android:name=".view.DragMapActivity" />
        <activity android:name=".view.WaterMarkerActivity" />
        <activity android:name=".view.BluetoothActivity" />
        <activity android:name=".view.GridViewActivity" />
        <activity android:name=".view.SteeringWheelActivity" />
        <activity android:name=".view.TimeLineActivity" />
        <activity android:name=".view.RadarScanActivity" />
        <activity android:name=".view.CompassActivity" />
        <activity android:name=".view.GalleryActivity" />
        <activity android:name=".view.MLKitActivity" />
        <activity android:name=".view.HikVisionActivity" />
        <activity
            android:name=".view.FaceCollectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.CompressVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".view.BigImageActivity"
            android:theme="@style/Theme.BigImageActivity" />

        <!-- 拍照压缩图片用 FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.multidemo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--高德定位-->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="56fa2f20eef95e6107f998a5b59f0e10" />
    </application>

    <!--Android 11+ use camera-->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>